<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="crashr.mapshackathon.com.crashr">

    <application
        android:allowBackup="true"
        android:icon="@drawable/crashr_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!-- Splash Activity -->
        <activity
            android:name=".ui.SplashActivity"
            android:label="@string/title_activity_splash"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main Activity -->
        <activity
            android:name=".ui.MapActivity"
            android:label="@string/title_activity_map" />

        <!-- Child of Map Activity -->
        <activity
            android:name=".ui.ListingsActivity"
            android:label="@string/title_activity_listings"
            android:parentActivityName=".ui.MapActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="crashr.mapshackathon.com.crashr.ui.MapActivity" />
        </activity>

        <!-- Child of Listings Acvitity -->
        <activity
            android:name=".ui.AddListingActivity"
            android:label="@string/title_activity_add_listing"
            android:windowSoftInputMode="stateVisible">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="crashr.mapshackathon.com.crashr.ui.ListingsActivity" />
        </activity>

        <!-- Child of Listings Activity-->
        <activity
            android:name=".ui.EditListingActivity"
            android:label="@string/title_activity_edit_listing"
            android:windowSoftInputMode="stateVisible">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="crashr.mapshackathon.com.crashr.ui.ListingsActivity" />
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

</manifest>
